<h1>User Owner</h1>

<% if controller.has_signed_in_user? %>
  <%= link_to "Log Out", logout_path %>  |
  <%= link_to "Pending Approvals", organizations_path %> if controller.current_user.admin?
<% else %>
  <%= link_to "Register", register_path %> |
  <%= link_to "Log In", login_path %>
<% end %>
