development:
  S3_ACCESS_KEY: # S3 Access key.
  S3_SECRET: # S3 Secret key.
  S3_BUCKET: # Name of the S3 bucket

test:
  S3_ACCESS_KEY: # S3 Access key.
  S3_SECRET: # S3 Secret key.
  S3_BUCKET: # Name of the S3 bucket
