development:
  S3_ACCESS_KEY: # S3 Access key.
  S3_SECRET: # S3 Secret key.
  S3_BUCKET: # Name of the S3 bucket
  SECRET_TOKEN: # Secret key used to sign cookies (run `rake secret`)
  USER_OWNER_HOST: # Set the host for mailers

test:
  S3_ACCESS_KEY: # S3 Access key.
  S3_SECRET: # S3 Secret key.
  S3_BUCKET: # Name of the S3 bucket
  SECRET_TOKEN: # Secret key used to sign cookies (run `rake secret`)
  USER_OWNER_HOST: # Set the host for mailers
