<!DOCTYPE html>
<html>
<head>
  <title>ReqConf</title>
  <%= stylesheet_link_tag    "req_conf/application", :media => "all" %>
  <%= javascript_include_tag "req_conf/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
