@import 'base_layout';
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

$app_width      : 960px;
$total-columns  : 1;
$column-width   : $app_width;
$gutter-width   : 1px;
$grid-padding   : $gutter-width;
$base-font-size : 16px;


$button_bg_color: $d;
$link_color: $d;
$link_hover_color: $e;
$heading_color: $e;
$button_text_color: lighten($a, 5%);
$login_box_bg_color: lighten($a, 15%);
$login_box_shadow_color: rgba($a, 0.4);

#admin {
  text-align: left;
  width: 60%;
  margin: auto;

  a {
    font-size: 0.9em;
    text-decoration: none;
    color: $link_color;
    &:visited {
      color: $link_color;
    }
    &:hover {
      color: $link_hover_color;
    }
  }
}

.reject {
  font-family: serif;
  text-align: center;
  border: none;
  background-color: transparent;
  color: $button_text_color;
  font-size: 0.9em;
  text-decoration: none;
  color: $link_color;
  &:hover {
    color: $link_hover_color;
  }
}

table {
  width: 100%;
}

#action_links {
  float: right;
} 