@import 'susy';
@import 'palette';
@import 'compass/reset';
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

$app_width      : 960px;
$total-columns  : 1;
$column-width   : $app_width;
$gutter-width   : 1px;
$grid-padding   : $gutter-width;
$base-font-size : 16px;

$login_box_bg_color: lighten($a, 15%);
$login_box_shadow_color: rgba($a, 0.4);

.container{
  @include container;
}

.box {
  width: 70%;
  margin: 0 auto;
  margin-top: 10em;
  padding: 2em;
  background-color: lighten($login_box_bg_color, 15%);
  @include border-radius(10px);
  @include box-shadow($login_box_shadow_color 0px 0px 30px);
}

.header{
  width: 80%;
  position: relative;
  margin: 2em auto;
  background-color: $header_color;
  padding: 0.8em;
  clear: both;
  li {
    padding-left: 25px;
    font-size: 14px;
    text-decoration: none;
    display: inline;
  }
  .signin, .logout {
    float: right;
    padding: 0.1em 1em;
    @include border-radius(10px);
    background-color: lighten($header_color, 5%);
    &:hover {
      background-color: lighten($header_color, 10%);
    }
  }
}

p.error{
  background-color: $error_bg_color;
  border: 1px solid $error_border_color;
  color: $error_color;
  padding: 8px 35px 8px 14px;
}

p.notice{
  background-color: $success_bg_color;
  border-color: $success_border_color;
  color: $success_color;
  padding: 8px 35px 8px 14px;
}

p.inline-errors {
  background-color: rgba($error_bg_color, 0.4);
  width: 80%;
  border: 1px solid $error_border_color;
  color: $error_color;
  padding: 8px 35px 8px 14px;  
}

h1 {
  font-size: 2em;
  color: $e;
  margin-bottom: 0.5em;
}

.change_locale {
  margin: 0 auto;  
  text-align: center;
  font-size: 0.8em;
  margin-top: 0.8em;
  color: #ddd;
}

a {
  font-size: 0.9em;
  text-decoration: none;
  color: $link_color;
  &:visited {
    color: $link_color;
  }
  &:hover {
    color: darken($link_color, 15%);
  }
}