@import 'susy';
@import 'compass/reset';
@import "compass/css3/border-radius";
@import 'palette';

$app_width      : 960px;
$total-columns  : 1;
$column-width   : $app_width;
$gutter-width   : 1px;
$grid-padding   : $gutter-width;
$base-font-size : 16px;

.container{
  @include container;
}