div.documents {
  header > a {
    float: right;
    margin: 12px 0 12px 12px;
    padding: 0 6px;
    line-height: 24px;
    background: $secondary-color;
    color: $white;
    @include border-radius(2px);

    &:hover{
      border: none;
      background: $white;
      color: $secondary-color;
    }
  }

  .form-section {
    margin: 10px 5px;
    padding: 10px;
  }

  .upload-action { margin: 30px 25px; }
  .upload-error {
    margin-left: 25px;
    color: $danger;
  }

  .display-document {
    margin: 20px;
  }

  h2.title {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
  }

  iframe {
    width: 80%;
    display: block;
    margin: 20px auto;
    height: 400px;
  }
}
